body{
    background-color: rgb(243, 243, 114);
}


h1{
   
   
    color: black;
    font-size:30px;
    font-family: Arial,"Times New Roman", sans-serif;
   border: 5px dotted ;
   
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
   
  
    

}

.container{
    background-color: rgb(255, 47, 168);
    padding : 10px;
   
    border: 5px solid ;
   
 
  
  
   
    
}

a:hover{
    color: red;
}
.list{
    padding: 30px;
    margin: 50px;
   
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

#list1{
    background-color: rgb(243, 203, 93);
}
  
#list2{
    background-color: rgb(130, 190, 243);
}
#list3{
    background-color: rgb(44, 231, 181);
}





img{
    border-radius: 8px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: fit-content
}

h3{
    text-decoration: underline;
    font-family:Arial,"Times New Roman", sans-serif ;
   
    background-color: violet;
   
    margin-left: auto;
    margin-right: 94.6%;

    
  
    
}
.one{
    text-decoration: underline;
    font-family:Arial,"Times New Roman", sans-serif ;
    
    background-color: violet;
    
    display: inline-block;
    
}
.two{
    text-decoration: underline;
    font-family:Arial,"Times New Roman", sans-serif ;
    
    background-color: violet;
    
    display: inline-block;
    
}

*{
    font-family:Arial,"Times New Roman", sans-serif ;
}
p,li{
    font-style: italic;
}
